<div class="container">
    <div class="col-12" style=" width: 360px; margin: 7% auto;">

        <div class="panel panel-success">        
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall"><strong>Username</strong></label>
                        <input class="form-control input-sm" type="text" id="inputSmall" ng-model="logindata.username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall"><strong>Password</strong></label>
                        <input class="form-control input-sm" type="password" id="inputSmall" ng-model="logindata.password">
                    </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block" type="submit" ng-click="LoginAdmin()">Masuk</button>
            </div>
            </form>
            <!--            {{test}}-->
        </div>
    </div>
</div>
<!--    </div>-->


<!-- /.container -->